@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  display: flex;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
  background: #12151C;
  font-family: 'Montserrat', sans-serif;
}

:global(a) {
  color: #21FF9F;
  text-decoration: none;
}

:global(a:hover) {
  color: rgb(17, 211, 127);
  text-decoration: underline;
}

:global(#root) {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 1366px) {
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    padding: 3rem;
  }

    @media (min-width: 1600px) {
    width: calc(100% - 10rem);
    height: calc(100% - 10rem);
    padding: 5rem;
  }
}
