@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap');

body {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  color: #FFF;
  background: #12151C;
  font-family: 'Noticia Text', serif;

  @media (min-width: 1450px) {
    padding: 2rem;
  }
}
