.covidChart {
  margin: 0 -1rem;
}

.header {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  color: #A9ACB3;
}

.chart {
  min-height: 300px;
}

.country {
  margin-top: 1.3rem;
  font-weight: bold;
}

.firstCase {
  font-weight: normal;
  text-align: right;
  font-size: 0.7rem;
}

.firstDate {
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
}
