.covidChart {
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40%;

  @media (min-width: 1024px) {
    flex-basis: 55%;
  }
}

.header {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
}

.container {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}

.title {
  margin-top: 1.3rem;
  font-weight: bold;
  text-align: left;
  font-family: 'Noticia Text', serif;
}

.activeCasesTitle {
  font-weight: normal;
  text-align: right;
  font-size: 0.7rem;
}

.activeCases {
  display: block;
  font-size: 1.17rem;
  font-family: 'Noticia Text', serif;
}

.noResults {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(#12151C, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
