.covidHeader {
  text-align: center;
}

.covidHeader h1 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;

  @media (min-width: 500px) {
    font-size: 2rem;
  }
}

.covidHeader p {
  line-height: 1.5;
}
