.covidHeader {
  @media (min-width: 1366px) {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-right: 3rem;
    text-align: left;
  }
}

.covidHeader h1 {
  font-family: 'Noticia Text', serif;
  font-size: 1.5rem;

  @media (min-width: 500px) {
    font-size: 2rem;
  }

  @media (min-width: 1024px) {
    font-size: 2.5rem;
  }

  @media (min-width: 1366px) {
    margin-top: 0;
  }
}

.covidHeader p {
  color: #A9ACB3;
  line-height: 1.5;

  @media (min-width: 1024px) {
    font-size: 1.2rem;
  }
}

.author {
  margin-top: auto;

  p {
    font-size: 0.75rem;
  }
}
